<div class="tractor">
  <p class="tractor-attribute name" (click)="openDetails(tractor)">{{ name }}</p>
  <p class="tractor-attribute">{{ model }}</p>
  <p class="tractor-attribute">{{ modelYear }}</p>
  <p class="tractor-attribute">{{ tractor.value || '-' }}</p>

  <div class="tractor-attribute buttons">
    <div class="button" (click)="onEdit(tractor)">
      <img src="../../../assets/edit-icon.svg" alt="edit">
    </div>

    <div class="button" (click)="onRemove(tractor._id, tractor.name)">
      <img src="../../../assets/remove-icon.svg" alt="delete">
    </div>
  </div>
</div>