.tractor {
  display: flex;
  font-size: 1.2rem;
  flex-wrap: nowrap;
  width: 100%;
  transition: all .3s ease-in-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.tractor:hover {
  background-color: rgba(0, 0, 0, 0.07)
}

.tractor-attribute {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 20%;
}

.tractor-attribute.name {
  margin-left: 1rem;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: .5px;
  text-underline-offset: 6px;
}

.tractor-attribute.name:hover {
  color: blueviolet;
  cursor: pointer;
}

.tractor-attribute img {
  margin-left: .5rem;
  height: 1rem;
}

@media screen and (min-width: 769px) {
  .tractor-attribute {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 768px) {
  .tractor {
    flex-wrap: wrap;
  }

  .tractor-attribute {
    width: 100%;
    margin: 0.5rem 0;
  }
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons img {
  height: 2rem;
  opacity: .8;
}

.buttons img:hover {
  opacity: 1;
}

.buttons .button {
  cursor: pointer;
  margin: .5rem;
}
